
.afastamentoCarrossel{
    margin-top: 39pt;
}

.afastamentoDiv1{
    margin-top: 60pt;
    margin-left: -20pt;

}

.afastamentoLocalizacao{
   
    margin-top: 120pt;
}

.afastamentoTexto{
    margin-top: 150pt;
}



body{
    font-family:  "Playwrite DK Uloopet", cursive;
}

.contador-box {
    background: #1e293b;
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 100px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.contador-box:hover {
    transform: scale(1.1);
}

.contador-box span {
    font-size: 2rem;
    font-weight: bold;
    display: block;
}

.contador-box p {
    margin: 0;
    font-size: 0.9rem;
    color: #cbd5f5;
}

/* Responsivo */
@media (max-width: 576px) {
    .contador-box {
        width: 70px;
        padding: 15px;
    }

    .contador-box span {
        font-size: 1.5rem;
    }
}