
.afastamentoCarrossel{
    margin-top: 39pt;
}

.afastamentoDiv1{
    margin-top: 60pt;
    margin-left: -20pt;

}

.afastamentoLocalizacao{
   
    margin-top: 120pt;
}

.afastamentoTexto{
    margin-top: 150pt;
}



body{
    font-family:  "Playwrite DK Uloopet", cursive;
}